syntax: glob

**/Datasheets/**
**/Research/**
**/Releases/**

**/Firmware/Binaries/**
**/Firmware/Source/*.err
**/Firmware/Source/*.obj
**/Firmware/Source/build/**
**/Firmware/Source/disassembly/**
**/Firmware/Source/dist/**
**/Firmware/Source/funclist
**/Firmware/Source/nbproject/private/**
**/Firmware/Source/nbproject/Makefile-genesis.properties
**/Firmware/Source/nbproject/Makefile-*.mk
**/Firmware/Source/nbproject/Package-*.bash

**/Software/Binaries/**
**/Software/Source/*.suo
**/Software/Source/**/.vs
**/Software/Source/**/*.csproj.user
**/Software/Source/**/bin/*
**/Software/Source/**/obj/*
